.card-container {
  height: 100%;
  width: 100%;
  padding: 80px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  transform: translateZ(60px);
  z-index: 100;
}

.card {
  margin: 24px;
  padding: 24px;
  background-color: rgba(102, 0, 255, 0.4);
  -webkit-box-shadow: 2px 10px 50px 11px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 10px 50px 11px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  z-index: 1;
  border: 2px solid rgba(102, 0, 255, 0.089);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.card-inner {
  transform: translateZ(60px);
}

.info-container {
  display: flex;
}

.info-photo {
  flex-basis: 40%;
}

img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.info-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  flex-basis: 60%;
  line-height: 1.1;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 24px;
  transform: translateZ(250px);
}

.link {
  width: 100%;
  text-align: center;
  padding: 16px;
  backdrop-filter: blur(10px) saturate(133%);
  -webkit-backdrop-filter: blur(10px) saturate(133%);
  background-color: rgba(221, 201, 250, 0.5);
  border-radius: 12px;
  border: 2px solid rgba(102, 0, 255, 0.089);
  transform: translateZ(60px);
  transition: all 0.25s ease-out;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    transform: scale(1.1);
    transition: all 0.25s ease-out;
  }
}

@media screen and (min-width: 300px) {
  .card {
    width: 100%;
    max-width: 600px;
  }

  .links {
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 600px;
  }

  .links {
    gap: 32px;
  }
}
